<div class="row">
    <div class="col-md-8">
      
      <% if !@users.nil? %>
        <ul class="users follow">
          Following Users
          <br>
          <% @users.each do |u| %>
            <ul>
            <li><%= link_to u.name, user_path(u) %></li>
            </ul>
            <br>

          <% end %>
        </ul>
        <%= will_paginate %>
      <% end %>
  </div>
</div>
